<!DOCTYPE html>
<html>
<head>
    <title>Liste des personnes</title>
    <!-- Ajout du lien vers le CSS de Bootstrap via un CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
        <h1 class="my-4">Verification</h1>

    <div class="container">
        <h1 class="my-4">Liste des personnes Ajouter</h1>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                {% for person in persons %}
                <tr>
                    <td>{{ person.id }}</td>
                    <td>{{ person.name }}</td>
                    <td>{{ person.email }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Ajout des scripts JS de Bootstrap via un CDN -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>